.mainCanvas {
  background-color: rgb(150, 141, 141);
  min-width: 500px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  margin: 0px;
}

.canvasSvg {
  margin: 0px;
  padding: 0px;
  border: none;
}
