.inputField {
  margin: 5px;
  width: 80px;
  font-size: 1rem;
}

.labelField {
  margin: 5px;
  font-size: 1rem;
}
.divField {
  display: inline-flex;
  background-color: darkorange;
  margin: 5px;
  border-radius: 5px;
  padding: 2px;
  text-align-last: right;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(230, 118, 26);
  display: inline-flex;
}

.btn:hover {
  background-color: firebrick;
}
