.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 90%;
  grid-template-columns: 5fr 1fr;
  min-height: calc(100vh - 100px);
  background-color: darkolivegreen;
}

.App-header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #2e4c8a;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-canvas {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: darkmagenta;
}

.App-control {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: darkgoldenrod;
}
